{% extends 'accounts/base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    {% if user.socialaccount_set.all %}
        <h2>Welcome, {{driver.first_name}} {{driver.last_name}}</h2>
    {% else %}
        <h2>Welcome, {{ driver.username }}</h2>
    {% endif %} 
    <form method="post" action="{% url 'accounts:logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
    <h4 class="text-success">Wallet/Earnings: ${{ driver.wallet_balance }}</h4>
</div>
<a href="{% url 'rides:new_trip' %}" class="btn btn-primary mb-3">Create New Trip</a>

<h4>Active Trips</h4>
{% for trip in ongoing_trips %}
<div class="card mb-2">
    <div class="card-body">
        <p><strong>Route:</strong> {{ trip.route.all|dictsort:"order"|join:" -> " }}</p>
        <p>Max Passengers: {{ trip.max_passengers }}</p>
        <p>Status: {{ trip.get_status_display }}</p>
        <a href="{% url 'rides:trip_view' trip.id %}" class="btn btn-info">Trip Info</a>
        <a href="{% url 'rides:view_carpool_requests' trip.id %}" class="btn btn-info">View Requests</a>
        <a href="{% url 'rides:complete_trip' trip.id %}" class="btn btn-success">Complete</a>
        <a href="{% url 'rides:cancel_trip' trip.id %}" class="btn btn-danger">Cancel</a>
    </div>
</div>
{% empty %}
<p>No active trips.</p>
{% endfor %}

<h4 class="mt-4">Past Trips</h4>
{% for trip in completed_trips %}
<div class="card mb-2">
    <div class="card-body">
        <p><strong>Route:</strong> {{ trip.route.all|dictsort:"order"|join:" -> " }}</p>
        <p>Status: {{ trip.get_status_display }}</p>
    </div>
</div>
{% empty %}
<p>No past trips.</p>
{% endfor %}
{% endblock %}